{% extends "layout/base.html" %}
{% block title %}index.html{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .import { color: #336699; }
</style>
{% endblock %}
{% block content %}
<h1>mod2 index!</h1>
<p class="important">Welcome to the mod2 module! <a href="{{ url_for('static', filename='asset.txt') }}">mod2 asset (note 'static' and not '.static')</a></p>

<p>mod2 demonstrates adding a second url_prefix to an app (e.g. '<code>/mod2</code>'). Note that a trailing slash is added.</p>

<h2>mod2 redirect examples</h2>

<p>Redirects back to mod2's index: <a href="redirect_here">the bad way</a> and <a href="{{ url_for('redir_index') }}">good way</a>. And redirect examples back to home's index the <a href="redirect_home">bad way</a> and <a href="{{url_for('redir_index2')}}">good way</a>.</p>

<h2>mod2 caching examples</h2>

<ul>
  <li><a href="{{ url_for('cached_always') }}">Always cached page, 15sec ttl</a></li>
  <li><a href="{{ url_for('cache_logged_out') }}">Cached for logged out users, 60sec ttl, otherwise uncached for logged in users</a></li>
</ul>

{% endblock %}
{% block footer %}
{{ super() }}
Nothing interesting to say from mod2.
{% endblock %}
