if ( -d /opt/local/lib/postgresql91/bin ) then
  setenv PATH /opt/local/lib/postgresql91/bin:${PATH}
endif

setenv PGDATABASE skeleton
setenv PGUSER skeleton_${USER}
setenv PGUSER_DBA skeleton_dba
setenv PGUSER_ROOT pgsql
