# To turn off the virtualenv, type: deactivate

# Don't do anything if a virtual environment is already loaded
if ( ${?VIRTUAL_ENV} == "1" ) exit 0

# The skeleton database
setenv PGDATABASE skeleton
# The account you connect as
setenv PGUSER skeleton_${USER}
# The owner of ${PGDATABASE}'s objects
setenv PGUSER_DBA skeleton_dba
# Owner of the entire database instance
setenv PGUSER_ROOT pgsql

# Load a local .tcsh file
if (-o .enter.local.tcsh && -P22: .enter.local.tcsh == "0") source .enter.local.tcsh

printf 'Activating the "%s" virtual environment.\n' `basename $PWD`
source bin/activate.csh >& /dev/null
