Flask-DebugToolbar==0.5
Flask-SQLAlchemy==0.11
Flask-Testing==0.3
Flask-WTF==0.5.2
Flask==0.6.1
Jinja2==2.5.5
MarkupSafe==0.12
SQLAlchemy==0.7.0
Tempita==0.5dev
WTForms==0.6.3
Werkzeug==0.6.2
decorator==3.3.1
psycopg2==2.4
simplejson==2.1.6
twill==0.9
wsgiref==0.1.2
