{% extends "layout/base.html" %}
{% block title %}mod3/page tags{% endblock %}
{% block content %}
<h1>mod3: Page Tags for {{ page.id }}</h1>

<p>A list of all Tags on Page {{page.url}}:</p>

<table border="1">
  <tr><th>Tag ID</th><th>Tag Name</th></tr>
{% for tag in page.tags %}
  <tr><td>{{ tag.id }}</td><td><a href="{{ url_for('tag_pages', tag_id=tag.id) }}">{{ tag.name }}</a></td></tr>
{% else %}
  <tr><td colspan="2">No tags for page {{ page.id }}.</td></tr>
{% endfor %}
</table>

{% endblock %}
