{% extends "layout/base.html" %}
{% block title %}aaa/login{% endblock %}
{% block content %}
<h1>Login</h1>

<p>Use <code>user@example.com</code> and <code>admin</code> as your username/password.</p>

{% if form.errors %}<p class="error"><strong>Unable to proceed with the provided authentication credentials.</strong>{% endif %}
{% from "_formhelpers.html" import render_field %}
<form method="POST" action="">
  <dl>
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.idle_ttl) }}
    <dd>{{ form.submit }}</dd>
  </dl>
  {{ form.hidden_tag() }}
</form>
</p>
{% endblock %}


